<!DOCTYPE html>
<html ng-app="color-replace">
  <head>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="dist/image-color-replacement.min.js"></script>
  </head>
  <body>
  	<div ng-init="colors = [{from: '#FF0000', to:'#FFFF00'},{from: '#00FF00', to:'#00A4FF', tolerance: 50}]"></div>
  	<div ng-repeat="bg in ['#99FFCC','#0088FF','#FFCCEE'] track by $index">
  		<div style="background: {{bg}}; float: left; width: 50px; height: 50px; float: left" ng-click="colors[0].to = bg"></div>
  	</div>
  	<br clear="both">
    <img ng-src="image{{'.png'}}" color-replace="colors" />

  </body>
</html>
